<section class="primary-bg">
	<div class="container success-bg">

		<div class="stack-grid">
			<div class="item s6 m3 l3 secondary-bg">
				s6 m3 l3
			</div>
			<div class="item s3 m6 l3 error-bg">
				s3 m6 l3
			</div>
			<div class="item s3 m3 l6 warn-bg">
				s3 m3 l6
			</div>
		</div>
		<div class="stack-grid">
			<div class="item m12 secondary-bg">
				m12
			</div>
		</div>
		<div class="stack-grid">
			<div class="item m6 secondary-bg">
				m6
			</div>
			<div class="item m6 error-bg">
				m6
			</div>
		</div>
		<div class="stack-grid">
			<div class="item m3 secondary-bg">
				m3
			</div>
			<div class="item m3 error-bg">
				m3
			</div>
			<div class="item m3 secondary-bg">
				m3
			</div>
			<div class="item m3 error-bg">
				m3
			</div>
		</div>
	</div>
</section>

<section class="stack-section">
	<div class="container">

		<h1>Stack grid</h1>
		<div class="stack-grid">
			<div class="item s12">s12</div>
		</div>

		<div class="stack-grid">
			<div class="item s6">s6</div>
			<div class="item s6">s6</div>
		</div>

		<div class="stack-grid">
			<div class="item s3">s3</div>
			<div class="item s3">s3</div>
			<div class="item s3">s3</div>
			<div class="item s3">s3</div>
		</div>

		<div class="stack-grid">
			<div class="item s2">s2</div>
			<div class="item s2">s2</div>
			<div class="item s2">s2</div>
			<div class="item s2">s2</div>
			<div class="item s2">s2</div>
			<div class="item s2">s2</div>
		</div>

		<div class="stack-grid">
			<div class="item s1">s1</div>
			<div class="item s1">s1</div>
			<div class="item s1">s1</div>
			<div class="item s1">s1</div>
			<div class="item s1">s1</div>
			<div class="item s1">s1</div>
			<div class="item s1">s1</div>
			<div class="item s1">s1</div>
			<div class="item s1">s1</div>
			<div class="item s1">s1</div>
			<div class="item s1">s1</div>
			<div class="item s1">s1</div>
		</div>

		<h1>Stack grid mix'n match</h1>
		<div class="stack-grid">
			<div class="item s2">s2</div>
			<div class="item s10">s10</div>
		</div>

		<div class="stack-grid">
			<div class="item s4">s4</div>
			<div class="item s8">s8</div>
		</div>

		<div class="stack-grid">
			<div class="item s10">s10</div>
			<div class="item s1">s1</div>
			<div class="item s1">s1</div>
		</div>

		<div class="stack-grid">
			<div class="item m3">m3</div>
			<div class="item m6">m6</div>
			<div class="item m3">m3</div>
		</div>


		<div class="stack-grid">
			<div class="item s12">s12</div>
		</div>
		<div class="stack-grid">
			<div class="item s11">s11</div>
			<div class="item s1">s1</div>
		</div>
		<div class="stack-grid">
			<div class="item s10">s10</div>
			<div class="item s2">s2</div>
		</div>
		<div class="stack-grid">
			<div class="item s9">s9</div>
			<div class="item s3">s3</div>
		</div>
		<div class="stack-grid">
			<div class="item s8">s9</div>
			<div class="item s4">s4</div>
		</div>
		<div class="stack-grid">
			<div class="item s7">s7</div>
			<div class="item s5">s5</div>
		</div>
		<div class="stack-grid">
			<div class="item s6">s6</div>
			<div class="item s6">s6</div>
		</div>
		<div class="stack-grid">
			<div class="item s5">s5</div>
			<div class="item s7">s7</div>
		</div>
		<div class="stack-grid">
			<div class="item s4">s4</div>
			<div class="item s8">s8</div>
		</div>
		<div class="stack-grid">
			<div class="item s3">s3</div>
			<div class="item s9">s9</div>
		</div>
		<div class="stack-grid">
			<div class="item s2">s2</div>
			<div class="item s10">s10</div>
		</div>
		<div class="stack-grid">
			<div class="item s1">s1</div>
			<div class="item s11">s11</div>
		</div>
		<div class="stack-grid">
			<div class="item s3">s3</div>
			<div class="item s3">s3</div>
			<div class="item s3">s3</div>
			<div class="item s3">s3</div>
		</div>
		<div class="stack-grid">
			<div class="item s3">s3</div>
			<div class="item s6">s6</div>
			<div class="item s3">s3</div>
		</div>

		<h1>Alignment</h1>
		<p>.stack-align-start</p>
		<div class="stack stack-align-start">
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
		</div>

		<p>.stack-align-end</p>
		<div class="stack stack-align-end">
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
		</div>

		<p>.stack-align-center</p>
		<div class="stack stack-align-center">
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
		</div>

		<h1>Distribution</h1>
		<p>.stack-distribution-fill</p>
		<div class="stack stack-distribution-fill">
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
		</div>

		<p>.stack-distribution-center</p>
		<div class="stack stack-distribution-center">
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
		</div>

		<p>.stack-distribution-space</p>
		<div class="stack stack-distribution-space">
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
		</div>

		<h1>Direction</h1>
		<p>.stack-direction-horizontal</p>
		<div class="stack stack-direction-horizontal">
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
		</div>

		<p>.stack-direction-horizontal-reverse</p>
		<div class="stack stack-direction-horizontal-reverse">
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
		</div>

		<p>.stack-direction-vertical</p>
		<div class="stack stack-direction-vertical">
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
		</div>

		<p>.stack-direction-vertical-reverse</p>
		<div class="stack stack-direction-vertical-reverse">
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
			<div class="item">item</div>
		</div>

		<h1>Items</h1>

		<p>.stack-items-align-center & .m-space-horizontal-m</p>
		<div class="stack stack-items-align-center">
			<div class="item"><img src="../../assets/logos/logo-apple.png" /></div>
			<div class="m-space-horizontal-m"></div>
			<div class="item left-align">
				<h4>Bob</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eveniet hic id maxime quaerat quam recusandae rem sed totam! Accusamus dicta esse expedita ipsa officia porro quae quaerat reprehenderit voluptas?</p>
			</div>
		</div>

		<p>.stack-items-align-start</p>
		<div class="stack stack-items-align-start">
			<div class="item"><img src="../../assets/logos/logo-apple.png" /></div>
			<div class="item left-align">
				<h4>Bob</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eveniet hic id maxime quaerat quam recusandae rem sed totam! Accusamus dicta esse expedita ipsa officia porro quae quaerat reprehenderit voluptas?</p>
			</div>
		</div>

		<p>.stack-items-align-end</p>
		<div class="stack stack-items-align-end">
			<div class="item"><img src="../../assets/logos/logo-apple.png" /></div>
			<div class="item left-align">
				<h4>Bob</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eveniet hic id maxime quaerat quam recusandae rem sed totam! Accusamus dicta esse expedita ipsa officia porro quae quaerat reprehenderit voluptas?</p>
			</div>
		</div>

		<p>.stack-items-align-baseline</p>
		<div class="stack stack-items-align-baseline">
			<div class="item"><img src="../../assets/logos/logo-apple.png" /></div>
			<div class="item left-align">
				<h4>Bob</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eveniet hic id maxime quaerat quam recusandae rem sed totam! Accusamus dicta esse expedita ipsa officia porro quae quaerat reprehenderit voluptas?</p>
			</div>
		</div>

		<p>.stack-items-align-fill</p>
		<div class="stack stack-items-align-fill">
			<div class="item"><img src="../../assets/logos/logo-apple.png" /></div>
			<div class="item left-align">
				<h4>Bob</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eveniet hic id maxime quaerat quam recusandae rem sed totam! Accusamus dicta esse expedita ipsa officia porro quae quaerat reprehenderit voluptas?</p>
			</div>
		</div>

		<h1>Item</h1>
		<p>.item-align-start & .item-align-center & .item-align-end & .item-align-baseline & .item-align-fill</p>
		<div class="stack" style="height: 300px;">
			<div class="item item-align-start">item-align-start</div>
			<div class="item item-align-center">item-align-center</div>
			<div class="item item-align-end">item-align-end</div>
			<div class="item item-align-baseline">item-align-baseline</div>
			<div class="item item-align-fill">item-align-fill</div>
		</div>

		<h1>Put it together</h1>

		<p>Example 1</p>
		<div class="stack-example">
			<div class="stack stack-items-align-center s-only-stack-direction-vertical-reverse">
				<div class="item left-align">
					<h4>Bob</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eveniet hic id maxime quaerat quam recusandae rem sed totam! Accusamus dicta esse expedita ipsa officia porro quae quaerat reprehenderit voluptas?</p>
				</div>
				<div class="m-space-horizontal-m s-only-space-vertical-l"></div>
				<div class="item"><img src="../../assets/logos/logo-wordbase.png" /></div>
			</div>

			<div class="stack stack-items-align-center s-only-stack-direction-vertical">
				<div class="item"><img src="../../assets/logos/logo-ideanote.png" /></div>
				<div class="m-space-horizontal-m s-only-space-vertical-l"></div>
				<div class="item left-align">
					<h4>Ole</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eveniet hic id maxime quaerat quam recusandae rem sed totam! Accusamus dicta esse expedita ipsa officia porro quae quaerat reprehenderit voluptas?</p>
				</div>
			</div>
		</div>

		<p>Example 2</p>
		<div class="stack-example">
			<div class="stack-grid stack-wrap">
				<div class="item m2"></div>
				<div class="item m2"></div>
				<div class="item m2"></div>
				<div class="item m2"></div>
				<div class="item m2"></div>
				<div class="item m2"></div>
				<div class="item m2"></div>
				<div class="item m2"></div>
				<div class="item m2"></div>
				<div class="item m2"></div>
				<div class="item m2"></div>
				<div class="item m2"></div>
				<div class="item m4"></div>
				<div class="item m1"></div>
				<div class="item m7"></div>
				<div class="item m6"></div>
				<div class="item m6"></div>
			</div>
		</div>

		<p>Example 3</p>
		<div class="stack-example">
			<div class="stack stack-wrap stack-align-center">
				<div class="item"><div class="square"></div></div>
				<div class="item"><div class="square"></div></div>
				<div class="item"><div class="square"></div></div>
				<div class="item"><div class="square"></div></div>
				<div class="item"><div class="square"></div></div>
				<div class="item"><div class="square"></div></div>
				<div class="item"><div class="square"></div></div>
				<div class="item"><div class="square"></div></div>
				<div class="item"><div class="square"></div></div>
				<div class="item"><div class="square"></div></div>
				<div class="item"><div class="square"></div></div>
				<div class="item"><div class="square"></div></div>
				<div class="item"><div class="square"></div></div>
				<div class="item"><div class="square"></div></div>
				<div class="item"><div class="square"></div></div>
			</div>
		</div>

	</div>
</section>


<section>
	<div class="container">
		<div class="stack">
			<span>Submit rating</span>
			<span>View map</span>
			<span>Wikipedia</span>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<h1>Heading h1</h1>
		<h2>Heading h2</h2>
		<h3>Heading h3</h3>
		<h4>Heading h4</h4>
		<h5>Heading h5</h5>
		<h6>Heading h6</h6>
		<p>Paragraph - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ducimus earum eligendi enim est, iste numquam! Corporis illo maxime natus odit omnis quas quisquam recusandae tempore temporibus vel? Facere, repudiandae!</p>
	</div>
	<div class="container">
		<div class="stack-grid">
			<div class="item s6">
				<input placeholder="First name*" />
			</div>
			<div class="item s6">
				<input disabled placeholder="Last name name*" />
			</div>
			<div class="item s12">
				<textarea placeholder="Additional thoughts, ideas or notes"></textarea>
			</div>
		</div>
	</div>
	<div class="container">
		<button>Click on me!</button>
		<button class="btn-success">.btn-warn</button>
		<button class="btn-warn">.btn-warn</button>
		<button class="btn-error">.btn-error</button>
		<button class="btn-shady">.btn-shady</button>

		<button class="btn-flat">.btn-flat</button>
		<button class="btn-flat btn-success">.btn-flat.btn-warn</button>
		<button class="btn-flat btn-warn">.btn-flat.btn-warn</button>
		<button class="btn-flat btn-error">.btn-flat.btn-error</button>
		<button class="btn-flat btn-shady">btn-flat.btn-shady</button>

		<button>
			<span>I have a span and a <b>bold</b> tag!</span>
		</button>

		<button disabled>I am disabled!</button>
		<button class="btn-flat disabled">I am flat and disabled</button>

		<button>
			<div class="stack">
				<span>Go that way</span>
				<div class="space-horizontal-l"></div>
				<img src="../../assets/icons/arrow-left-light.svg" />
			</div>
		</button>
	</div>
</section>


<br><hr><h4>Inputs</h4>

<label>Text</label>
<input type="text" name="fname">

<label>Select</label>
<select>
	<option disabled selected>Choose a color</option>
	<option>Green</option>
	<option>Blue</option>
	<option>Orange</option>
	<option>Yellow</option>
	<option>Red</option>
	<option>Pink</option>
</select>

<label>Color</label>
<input type="color" name="favcolor">

<label>Checkboxes</label>
<br/><input type="checkbox" id="checkbox1" value="Bike"><label for="checkbox1">Checkbox 1</label>
<br/><input type="checkbox" id="checkbox2" value="Car"><label for="checkbox2">Checkbox 2</label>
<br/><input type="checkbox" id="checkbox3" value="Walk"><label for="checkbox3">Checkbox 3</label>
<br/><input  type="checkbox" id="checkbox4" value="Train"><label for="checkbox4">Checkbox 4</label>
<br/><input disabled type="checkbox" id="checkbox5" value="Dis"><label for="checkbox5">Checkbox 5</label>
<br/><input disabled checked type="checkbox" id="checkbox6" value="DisCheck"><label for="checkbox6">Checkbox 6</label><br/>

<label>Radio</label>
<div>
	<input type="radio" name="gender" value="male" id="male"><label for="male">Male</label><br>
	<input type="radio" name="gender" value="female" id="female"><label for="female">Female</label><br>
	<input type="radio" name="gender" value="other" id="other"><label for="other">Other</label><br />
	<input disabled type="radio" name="gender" value="dis" id="dis"><label for="dis">Disabled</label>
</div>

<label>Birthday</label>
<input type="date" name="bday">

<label>Birthday (date and time)</label>
<input type="datetime" name="bdaytime">

<label>Birthday (date and time)</label>
<input type="datetime-local" name="bdaytime">

<label>Email</label>
<input type="email" name="usremail">

<label>File</label>
<input type="file" name="img">

<label>Month</label>
<input type="month" name="bdaymonth">

<label>Number</label>
<input type="number" name="quantity" min="1" max="5">

<label>Password</label>
<input type="password" name="pwd">



<label>Range</label>
<input type="range" name="points" min="0" max="10">

<label>Search</label>
<input type="search" name="googlesearch">

<label>Telephone</label>
<input type="tel" name="usrtel">

<label>Time</label>
<input type="time" name="usr_time">

<label>Url</label>
<input type="url" name="homepage">

<label>Week</label>
<input type="week" name="week_year">

