@import "../../../styles/base";

@mixin demo-navbar-theme($theme) {
	$background: pp-background-vars($theme);
	$foreground: pp-foreground-vars($theme);

	nav {
		color: pp-theme-var($foreground, "navbar");
		background: pp-theme-var($background, "navbar");
	}
}