@import "../../../styles/base";

@mixin demo-navbar-theme($theme) {
	$navbar: pp-theme-var($theme, "navbar");

	nav {
		color: map-get($navbar, "color");
		background: map-get($navbar, "background");
	}
}