// Overwrite vars
$font-size-base-l-screen: 17px;
$css-vars-use-native: false;
$css-vars-debug-log: true;

@import "styles/base";
@import "styles/demo-theme";

.theme-light {
	@include light-theme();
}

.theme-dark {
	@include dark-theme();
}

@include pp-layout();
@include demo-theme();
@include pp-color-classes();

.test {
	width: 200px;
	height: 200px;
}

