$materialize-red: (
  "base":     #e51c23,
  "lighten":  #f8c1c3,
  "darken":   #b9151b
);

$red: (
  "base":     #F44336,
  "lighten":  #FFCDD2,
  "darken":   #D32F2F
);

$pink: (
  "base":     #e91e63,
  "lighten":  #f8bbd0,
  "darken":   #c2185b
);

$purple: (
  "base":     #9c27b0,
  "lighten":  #e1bee7,
  "darken":   #7b1fa2
);

$deep-purple: (
  "base":     #673ab7,
  "lighten":  #d1c4e9,
  "darken":   #512da8
);

$indigo: (
  "base":     #3f51b5,
  "lighten":  #c5cae9,
  "darken":   #303f9f
);

$blue: (
  "base":     #2196F3,
  "lighten":  #BBDEFB,
  "darken":   #1976D2
);

$light-blue: (
  "base":     #03a9f4,
  "lighten":  #b3e5fc,
  "darken":   #0288d1
);

$cyan: (
  "base":     #00bcd4,
  "lighten":  #b2ebf2,
  "darken":   #0097a7
);

$teal: (
  "base":     #009688,
  "lighten":  #b2dfdb,
  "darken":   #00796b
);

$green: (
  "base":       #4CAF50,
  "lighten":  #C8E6C9,
  "darken":   #388E3C
);

$light-green: (
  "base":     #8bc34a,
  "lighten":  #dcedc8,
  "darken":   #689f38
);

$lime: (
  "base":     #cddc39,
  "lighten":  #f0f4c3,
  "darken":   #afb42b
);

$yellow: (
  "base":     #ffeb3b,
  "lighten":  #fff9c4,
  "darken":   #fbc02d
);

$amber: (
  "base":     #ffc107,
  "lighten":  #ffecb3,
  "darken":   #ffa000
);

$orange: (
  "base":     #ff9800,
  "lighten":  #ffe0b2,
  "darken":   #f57c00
);

$deep-orange: (
  "base":     #ff5722,
  "lighten":  #ffccbc,
  "darken":   #e64a19
);

$brown: (
  "base":     #795548,
  "lighten":  #d7ccc8,
  "darken":   #5d4037
);

$gray: (
  "base":       #455a64,
  "lighten-5":  #EEEEEE,
  "lighten-4":  #CFD8DC,
  "lighten-3":  #B0BEC5,
  "lighten-2":  #90A4AE,
  "lighten-1":  #607D8B
);

$white: (
  "base": #FFFFFF,
  "darken": #FAFAFA
);

$black: (
  "base": #000000,
  "lighten": #263238
);

$colors: (
  "materialize-red": $materialize-red,
  "red": $red,
  "pink": $pink,
  "purple": $purple,
  "deep-purple": $deep-purple,
  "indigo": $indigo,
  "blue": $blue,
  "light-blue": $light-blue,
  "cyan": $cyan,
  "teal": $teal,
  "green": $green,
  "light-green": $light-green,
  "lime": $lime,
  "yellow": $yellow,
  "amber": $amber,
  "orange": $orange,
  "deep-orange": $deep-orange,
  "brown": $brown,

  "primary": $materialize-red,
  "secondary": $orange,
  "warn": $deep-orange,
  "error": $red,
  "success": $green,

  "gray": $gray,
  "white": $white,
  "black": $black
);
