<h1>Stack</h1>
<section class="colored-stack">
  <h3>Alignment</h3>
  <p>.stack-align-start</p>
  <div class="stack stack-align-start">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>

  <p>.stack-align-end</p>
  <div class="stack stack-align-end">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>

  <p>.stack-align-center</p>
  <div class="stack stack-align-center">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>

  <h3>Distribution</h3>
  <p>.stack-distribution-fill</p>
  <div class="stack stack-distribution-fill">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>

  <p>.stack-distribution-center</p>
  <div class="stack stack-distribution-center">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>

  <p>.stack-distribution-space</p>
  <div class="stack stack-distribution-space">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>

  <h3>Direction</h3>
  <p>.stack-direction-horizontal</p>
  <div class="stack stack-direction-horizontal">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>

  <p>.stack-direction-horizontal-reverse</p>
  <div class="stack stack-direction-horizontal-reverse">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>

  <p>.stack-direction-vertical</p>
  <div class="stack stack-direction-vertical">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>

  <p>.stack-direction-vertical-reverse</p>
  <div class="stack stack-direction-vertical-reverse">
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
    <div class="item">item</div>
  </div>

  <h3>Items</h3>

  <p>.stack-items-align-center & .m-space-horizontal-m</p>
  <div class="stack stack-items-align-center">
    <div class="item"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSkaOVGeP-KtPVerBW_sLSQq3lZxmZdiOrSMCNi9WnWE0z7PiSbtH0SFq0"/></div>
    <div class="m-space-horizontal-m"></div>
    <div class="item left-align">
      <h4>Bob</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eveniet hic id maxime quaerat quam recusandae rem sed totam!
        Accusamus dicta esse expedita ipsa officia porro quae quaerat reprehenderit voluptas?
      </p>
    </div>
  </div>

  <p>.stack-items-align-start</p>
  <div class="stack stack-items-align-start">
    <div class="item"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSkaOVGeP-KtPVerBW_sLSQq3lZxmZdiOrSMCNi9WnWE0z7PiSbtH0SFq0"/></div>
    <div class="item left-align">
      <h4>Bob</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eveniet hic id maxime quaerat quam recusandae rem sed totam!
        Accusamus dicta esse expedita ipsa officia porro quae quaerat reprehenderit voluptas?
      </p>
    </div>
  </div>

  <p>.stack-items-align-end</p>
  <div class="stack stack-items-align-end">
    <div class="item"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSkaOVGeP-KtPVerBW_sLSQq3lZxmZdiOrSMCNi9WnWE0z7PiSbtH0SFq0"/></div>
    <div class="item left-align">
      <h4>Bob</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eveniet hic id maxime quaerat quam recusandae rem sed totam!
        Accusamus dicta esse expedita ipsa officia porro quae quaerat reprehenderit voluptas?
      </p>
    </div>
  </div>

  <p>.stack-items-align-baseline</p>
  <div class="stack stack-items-align-baseline">
    <div class="item"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSkaOVGeP-KtPVerBW_sLSQq3lZxmZdiOrSMCNi9WnWE0z7PiSbtH0SFq0"/></div>
    <div class="item left-align">
      <h4>Bob</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eveniet hic id maxime quaerat quam recusandae rem sed totam!
        Accusamus dicta esse expedita ipsa officia porro quae quaerat reprehenderit voluptas?
      </p>
    </div>
  </div>

  <p>.stack-items-align-fill</p>
  <div class="stack stack-items-align-fill">
    <div class="item"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSkaOVGeP-KtPVerBW_sLSQq3lZxmZdiOrSMCNi9WnWE0z7PiSbtH0SFq0"/></div>
    <div class="item left-align">
      <h4>Bob</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eveniet hic id maxime quaerat quam recusandae rem sed totam!
        Accusamus dicta esse expedita ipsa officia porro quae quaerat reprehenderit voluptas?
      </p>
    </div>
  </div>

  <h3>Item</h3>
  <p>.item-align-start & .item-align-center & .item-align-end & .item-align-baseline & .item-align-fill</p>
  <div class="stack" style="height: 300px;">
    <div class="item item-align-start">item-align-start</div>
    <div class="item item-align-center">item-align-center</div>
    <div class="item item-align-end">item-align-end</div>
    <div class="item item-align-baseline">item-align-baseline</div>
    <div class="item item-align-fill">item-align-fill</div>
  </div>
</section>

<h1>Examples</h1>
<section class="colored-stack">
  <div class="container">
    <h3>Example 1</h3>
    <div class="stack-example">
      <div class="stack stack-items-align-center s-only-stack-direction-vertical-reverse">
        <div class="item left-align">
          <h4>Bob</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eveniet hic id maxime quaerat quam recusandae rem sed totam!
            Accusamus dicta esse expedita ipsa officia porro quae quaerat reprehenderit voluptas?
          </p>
        </div>
        <div class="m-space-horizontal-m s-only-space-vertical-l"></div>
        <div class="item"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSkaOVGeP-KtPVerBW_sLSQq3lZxmZdiOrSMCNi9WnWE0z7PiSbtH0SFq0"/></div>
      </div>

      <div class="stack stack-items-align-center s-only-stack-direction-vertical">
        <div class="item"><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSkaOVGeP-KtPVerBW_sLSQq3lZxmZdiOrSMCNi9WnWE0z7PiSbtH0SFq0"/></div>
        <div class="m-space-horizontal-m s-only-space-vertical-l"></div>
        <div class="item left-align">
          <h4>Ole</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos eveniet hic id maxime quaerat quam recusandae rem sed totam!
            Accusamus dicta esse expedita ipsa officia porro quae quaerat reprehenderit voluptas?
          </p>
        </div>
      </div>
    </div>

    <h3>Example 2</h3>
    <div class="stack-example">
      <div class="stack-grid stack-wrap">
        <div class="item m2"></div>
        <div class="item m2"></div>
        <div class="item m2"></div>
        <div class="item m2"></div>
        <div class="item m2"></div>
        <div class="item m2"></div>
        <div class="item m2"></div>
        <div class="item m2"></div>
        <div class="item m2"></div>
        <div class="item m2"></div>
        <div class="item m2"></div>
        <div class="item m2"></div>
        <div class="item m4"></div>
        <div class="item m1"></div>
        <div class="item m7"></div>
        <div class="item m6"></div>
        <div class="item m6"></div>
      </div>
    </div>

    <h3>Example 3</h3>
    <div class="stack-example">
      <div class="stack stack-wrap stack-align-center">
        <div class="item">
          <div class="square"></div>
        </div>
        <div class="item">
          <div class="square"></div>
        </div>
        <div class="item">
          <div class="square"></div>
        </div>
        <div class="item">
          <div class="square"></div>
        </div>
        <div class="item">
          <div class="square"></div>
        </div>
        <div class="item">
          <div class="square"></div>
        </div>
        <div class="item">
          <div class="square"></div>
        </div>
        <div class="item">
          <div class="square"></div>
        </div>
        <div class="item">
          <div class="square"></div>
        </div>
        <div class="item">
          <div class="square"></div>
        </div>
        <div class="item">
          <div class="square"></div>
        </div>
        <div class="item">
          <div class="square"></div>
        </div>
        <div class="item">
          <div class="square"></div>
        </div>
        <div class="item">
          <div class="square"></div>
        </div>
        <div class="item">
          <div class="square"></div>
        </div>
      </div>
    </div>
  </div>
</section>