@import "../../lib/pixel-perfect";

@mixin light-theme() {
	@include css-vars(palette("primary", $pp-blue));
	@include css-vars(palette("accent", $pp-lime));
	@include css-vars(palette("warn", $pp-orange));
	@include css-vars(palette("error", $pp-red));
	@include css-vars(palette("success", $pp-lime));
	@include css-vars((
		--navbar-color: map-get($pp-grey, 300),
		--navbar-bg: map-get($pp-blue, 500),
		--app-text: black,
		--app-bg: white
	));
}

@mixin dark-theme() {
	@include css-vars(palette("primary", $pp-yellow));
	@include css-vars(palette("accent", $pp-orange));
	@include css-vars(palette("warn", $pp-red));
	@include css-vars(palette("error", $pp-orange));
	@include css-vars(palette("success", $pp-black-dirty));
	@include css-vars((
		--navbar-color: black,
		--navbar-bg: map-get($pp-yellow, 500),
		--app-text: white,
		--app-bg: black
	));
}
