@import "base";
@import "../app/shared/navbar/navbar-theme";

@mixin demo-theme($theme) {
	$foreground: map-get($theme, "foreground");
	$background: map-get($theme, "background");

	body {
		color: map-get($foreground, "text");
		background: map-get($background, "app");
	}

	@include demo-navbar-theme($theme);
}