@import "base";
@import "../app/shared/navbar/navbar-theme";

@mixin demo-theme($theme) {
	$app: pp-theme-var($theme, "app");

	body {
		color: map-get($app, "text");
		background: map-get($app, "background");
	}

	@include demo-navbar-theme($theme);
}