@import "base";
@import "../app/shared/navbar/navbar-theme";

@mixin demo-theme($theme) {
	$foreground: pp-foreground-vars($theme);
	$background: pp-background-vars($theme);

	body {
		color: pp-theme-var($foreground, "text");
		background: pp-theme-var($background, "app");
	}

	@include demo-navbar-theme($theme);
}