<h1>Stack grid</h1>

<section class="colored-stack">
  <div class="container">
    <div class="stack-grid">
      <div class="item s12">s12</div>
    </div>

    <div class="stack-grid">
      <div class="item s6">s6</div>
      <div class="item s6">s6</div>
    </div>

    <div class="stack-grid">
      <div class="item s3">s3</div>
      <div class="item s3">s3</div>
      <div class="item s3">s3</div>
      <div class="item s3">s3</div>
    </div>

    <div class="stack-grid">
      <div class="item s2">s2</div>
      <div class="item s2">s2</div>
      <div class="item s2">s2</div>
      <div class="item s2">s2</div>
      <div class="item s2">s2</div>
      <div class="item s2">s2</div>
    </div>

    <div class="stack-grid">
      <div class="item s1">s1</div>
      <div class="item s1">s1</div>
      <div class="item s1">s1</div>
      <div class="item s1">s1</div>
      <div class="item s1">s1</div>
      <div class="item s1">s1</div>
      <div class="item s1">s1</div>
      <div class="item s1">s1</div>
      <div class="item s1">s1</div>
      <div class="item s1">s1</div>
      <div class="item s1">s1</div>
      <div class="item s1">s1</div>
    </div>

    <div class="stack-grid">
      <div class="item s2">s2</div>
      <div class="item s10">s10</div>
    </div>

    <div class="stack-grid">
      <div class="item s4">s4</div>
      <div class="item s8">s8</div>
    </div>

    <div class="stack-grid">
      <div class="item s10">s10</div>
      <div class="item s1">s1</div>
      <div class="item s1">s1</div>
    </div>

    <div class="stack-grid">
      <div class="item m3">m3</div>
      <div class="item m6">m6</div>
      <div class="item m3">m3</div>
    </div>

    <div class="stack-grid">
      <div class="item s12">s12</div>
    </div>

    <div class="stack-grid">
      <div class="item s11">s11</div>
      <div class="item s1">s1</div>
    </div>

    <div class="stack-grid">
      <div class="item s10">s10</div>
      <div class="item s2">s2</div>
    </div>

    <div class="stack-grid">
      <div class="item s9">s9</div>
      <div class="item s3">s3</div>
    </div>

    <div class="stack-grid">
      <div class="item s8">s9</div>
      <div class="item s4">s4</div>
    </div>

    <div class="stack-grid">
      <div class="item s7">s7</div>
      <div class="item s5">s5</div>
    </div>

    <div class="stack-grid">
      <div class="item s6">s6</div>
      <div class="item s6">s6</div>
    </div>

    <div class="stack-grid">
      <div class="item s5">s5</div>
      <div class="item s7">s7</div>
    </div>

    <div class="stack-grid">
      <div class="item s4">s4</div>
      <div class="item s8">s8</div>
    </div>

    <div class="stack-grid">
      <div class="item s3">s3</div>
      <div class="item s9">s9</div>
    </div>

    <div class="stack-grid">
      <div class="item s2">s2</div>
      <div class="item s10">s10</div>
    </div>

    <div class="stack-grid">
      <div class="item s1">s1</div>
      <div class="item s11">s11</div>
    </div>

    <div class="stack-grid">
      <div class="item s3">s3</div>
      <div class="item s3">s3</div>
      <div class="item s3">s3</div>
      <div class="item s3">s3</div>
    </div>

    <div class="stack-grid">
      <div class="item s3">s3</div>
      <div class="item s6">s6</div>
      <div class="item s3">s3</div>
    </div>
  </div>
</section>